@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
:root{
	--mainColor: #009d95;
	--fontLight:300;
	--fontRegular:400;
	--fontBold:700;
}



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* //MIS CSS// */

body{
	font-family: "Lato", sans-serif;
  	font-weight: 400;
  	font-style: normal;
}


.mainHeader{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background-color: rgb(255, 255, 255);
}

.logo img{
	width: 180px;
}

.lang{
	width: 100px;
	height: 50px;
	background-color: rgb(242, 148, 225);
}

.categories{
	display: flex;
	gap: 20px;
}

.categories a{
	
	text-decoration: none;
	color: var(--mainColor)
	
	
}

.masthead{
	position: relative;
}
.masthead img{
	width: 100%;
	filter: brightness(70%);
}

.masthead article{
	color: azure;
	position: absolute;
	padding: 15px;
	bottom: 50px;
	left: 50px;
	background-color: rgba(0, 0, 0, 0.328);
}

.masthead article p {
	font-weight: var(--fontLight);
	margin-bottom: 15px;
}

.masthead article h2 {
	font-size: 20px;
	font-weight: var(--fontBold);
	margin-bottom: 16px;
}

.masthead article button {
	display: flex;
	padding: 10px;
	
	color: rgb(255, 255, 255);
	background-color: rgb(241, 86, 112);
	border-radius: 30px;
	border: none;
	font-weight: var(--fontBold);
}

@media (max-width:768px) {
		.masthead article {
		position: static;
		background-color:rgb(141, 57, 57);
	}
}